[Desktop Entry]
Categories=Utility
Comment[en_US]=Dekstop Entry Editor
Comment[tr]=Masaüstü kısayolu yöneticisi
Comment=Dekstop Entry Editor
Exec=dizelge %f
Name[en_US]=Dizelge
Name=Dizelge
PrefersNonDefaultGPU=false
SingleMainWindow=false
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/x-desktop;
X-KDE-SubstituteUID=false

